{% extends "base.html" %}

{% block title %}Login {% endblock %}

{% block header %} <!--Aqui ficará vazio para não haver a navbar no arquivo de login.html--> {% endblock %}

{% block content %}

     <main>
        <section class="account-form-section">
           <form action="{{ url_for('account.login')}}" method="post" class="account-form">
                <h1>Gastos - Login</h1>
                <p>
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" id="email" required class="form-control">
                </p>
                <p>
                    <label for="pwd">Senha</label>
                    <input type="password" name="pwd" id="pwd" required class="form-control">
                    <span class="reset-key"><a href="#">Esqueci a senha</a></span>
                </p>
                <p>
                    <button type="submit" class="btn btn-primary">Entrar</button><br>
                    <span>Não tem conta? <a href="{{ url_for('account.signup')}}">Cadastre-se</a></span>
                </p>
            </form> 
        </section>
        
     </main>

{% endblock %}

{% block script %} {% endblock %}
