{% extends "base.html" %}

{% block title %}Cadastre-se {% endblock %}

{% block header %} <!--Aqui ficará vazio para não haver a navbar no arquivo de signup.html--> {% endblock %}

{% block content %}

     <main>
        <section class="account-form-section">
           <form action="{{ url_for('account.signup')}}" method="post" class="account-form">
                <h1>Gastos - Cadastro</h1>
                <p id="email_p">
                    <label for="email" class="form-label">Email</label>
                    <input type="text" name="email" id="email" required class="form-control">

                    <span id="email_exists">Email já cadastrado!</span>
                    <img id="progress_icon" src="../../static/images/progress.png" alt="">
                    <img id="true_icon" src="../../static/images/checked.png" alt="">
                    <img id="false_icon" src="../../static/images/block.png" alt="">
                </p>
                <p>
                    <label for="name">Nome</label>
                    <input type="text" name="name" id="name" required maxlength="120" class="form-control">
                </p>
                <p>
                    <label for="pwd">Senha</label>
                    <input type="password" name="pwd" id="pwd" required class="form-control">
                </p>
                <p>
                    <label for="check-pwd">Repita a senha</label>
                    <input type="password" name="check-pwd" id="check-pwd" required class="form-control">
                </p>
                <p>
                    <button type="submit" class="btn btn-primary">Cadastrar</button>
                    <span>Já tem conta? <a href="{{ url_for('account.login')}}">Login</a></span>
                </p>
            </form> 
        </section>
        
     </main>

{% endblock %}

{% block javascript %} 
     <script>
        let verify_url = `{{ url_for('account.verify_email')}}` 
        let email = document.getElementById('email')

        let progress_icon = document.getElementById('progress_icon')
        let true_icon = document.getElementById('true_icon')
        let false_icon = document.getElementById('false_icon')
        let message = document.getElementById('email_exists')
        
        function verify_email(){
            
            if (email.value) {
                true_icon.style.display = 'none'
                false_icon.style.display = 'none'
                message.style.display = 'none'

                progress_icon.style.display = 'initial'
                fetch(`${verify_url}/${email.value}`, {
                    method: 'GET'
                })
                
                .then((response) => {
                    progress_icon.style.display = 'none'

                    return response.json()
                })
                .then(data => {
                    if (data['exists']) {
                        false_icon.style.display = 'initial'
                        message.style.display = 'initial'
                        console.log(data['exists'])
                    } else {
                        true_icon.style.display = 'initial'
                        console.log(data['exists'])
                    }
                })
            }
        }

        document.getElementById('email').addEventListener('blur', verify_email)
     </script>
{% endblock %}
