{% extends "base.html" %}

{% block title %} Novo gasto {% endblock %}

{% block content %}

<main>
    <section class="expenses_section">
        {% set messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        {% endif %}
        <form class="expenses_form" action="{{ url_for('categories.new') }}" method="post">
            <p>
                <label for="name" class="form-label">Categoria</label>
                <input type="text" class="form-control" name="name" id="name" required maxlength="60">
            </p>
            <p>
                <button class="btn btn-primary" type="submit">Registrar</button>
                <button class="btn btn-warning" type="reset">Limpar</button>
            </p>
        </form>
    </section>
</main>
{% endblock %}