{% extends 'base.html' %}

{% block title %} {% endblock %}

{% block head %}  {% endblock %}

{% block content %}
    <main>
        <section class="expenses-section">
            <form class="expenses_form">
                <p>
                    <label for="title">Titulo</label>
                    <input type="text" name="title" id="title" class="form-control" value="{{ expense.title }}">
                </p>
                <p>
                    <label for="category">Categoria</label>
                    <input type="text" name="category" id="category" class="form-control" value="{{ expense.get_category_name() }}">
                </p>
                <p>
                    <label for="total" class="form-label">Total</label>
                    <input type="number" name="total" id="total" class="form-control" value="{{ expense.amount }}">
                </p>
                <p>
                    <label for="local" class="form-label">Local</label>
                    <input type="text" name="local" id="local" class="form-control" value="{{ expense.get_local_name() }}">
                </p>
                <p>
                    <label for="data">Data</label>
                    <input type="datetime-local" name="data" id="data" class="form-control" value="{{ expense.date }}">
                </p>
                <p>
                    <button type="submit" class="btn btn-success">
                        Confirmar
                    </button>
                    <a href="{{ url_for('expenses.delete', id=expense.id)}}" class="btn btn-danger">
                        Excluir
                    </a>
                </p>
            </form>
        </section>
    </main>
{% endblock %}

{% block javascript %}
    <script>    
        document.getElementById('expense_form').addEventListener('submit', (event) => {
            event.preventDefault()

            var link = "{{ url_for('expenses.update', id=expense.id)}}"

            const data_update = {
                title: document.getElementById('title').value,
                category: document.getElementById('category').value,
                total: document.getElementById('total').value,
                local: document.getElementById('local').value,
                data: document.getElementById('data').value,
            }

            fetch(link, {
                method: "PUT",
                body: JSON.stringify(data_update),
                headers: {
                    'Content-type': 'application/json; charset=UTF-8'
                }   
            })
            .then(response => response.json())
            .then((data) => {
                if (data['success']) {
                    window.location.href = '{{ url_for("expenses.read", id=expense.id) }}'
                } else {
                    // colocar para exibir um aviso de que não foi feito o update
                }
            })
        })
    </script>
{% endblock %}
