{% extends "base.html" %}

{% block head %} 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/expenses/style.css') }}">
{% endblock %}

{% block content %}

    <main class="main-home">
        {% if expenses %}
            <section class="expenses-section">
                <section class="expenses-summary-section">
                    <h2>Resumo</h2>
                    <span class="total-spent-card">
                        <span class="total-spent-title">Gasto do mês:</span>
                        <span class="total-spent-amount">R$ {{ month_sum }} </span>
                    </span>
                    <span class="balance-card">
                        <span class="balance-title">Total em conta: </span>
                        <span class="balance-amount">R$1000.20</span>
                    </span>
                    <span class="expenses-count-card">
                        <span class="expenses-count-title">gastos realizados</span>
                        <span class="expenses-count-quant">7</span>
                    </span>
                </section>
                <section class="expenses-card-section">
                    <h1>Gastos</h1>
                    {% if expenses %}
                        {% for expense in expenses %}
                            <div class="expense-card" onclick='window.location.href = `{{ url_for("expenses.read", id=expense.id) }}`'>
                                <h3 class="expense-card-title">
                                    <a href="{{ url_for('expenses.read', id=expense.id, title=expense.title)}}">
                                        {{ expense.title }}
                                    </a>
                                </h3>
                                <span class="expense-card-info">
                                    <span class="expense-card-category">local: {{ expense.get_local_name() }}</span>
                                    <span class="expense-card-amount">valor: R$ {{ expense.amount }}</span>
                                    <span class="expense-card-data">data: {{ expense.get_date()  }}</span>
                                </span>
                            </div>
                        {% endfor %}
                    {% else %}

                    {% endif %}
                        
                </section>
            </section>
            
        {% else %}
            <h2 class="alert alert-warning">Nenhum gasto foi registrado!</h2>
        {% endif %} 
    </main>

{% endblock %}

{% block script %}  {% endblock %}