{% extends "base.html" %}

{% block title %} Novo gasto {% endblock %}

{% block content %}

<main>
    <section class="expenses_section">
        <form class="expenses_form" action="{{ url_for('expenses.new_expense')}}" method="post">
            <p>
                <label class="form-label" for="title">Título</label>
                <input class="form-control" type="text" name="title" id="title" maxlength="150" required>
            </p>
            <p>
                <label class="form-label" for="category">Categoria</label>
                <input class="form-control" type="text" list="category_list" id="category" name="category" required>
                <datalist id="category_list">
                    {% if categories %}
                        {% for category in categories %}
                            <option value="{{ category.id }}">{{ category.name }}</option>
                        {% endfor %}
                    {% endif %}
                </datalist>
            </p>
            <p>
                <label class="form-label" for="total">Total</label>
                <input class="form-control" type="number" name="total" id="total" step="0.01" required>
            </p>
            <p>
                <label class="form-label" for="local">Local/Estabelecimento</label>
                <input class="form-control" type="text" list="local_list" id="local" name="local" required>
                <datalist id="local_list">
                    {% if locals %}
                        {% for local in locals %}
                            <option value="{{ local.id}}">{{ local.name }}</option>
                        {% endfor %}
                    {% endif %}
                </datalist>
            </p>
            <p>
                <label class="form-label" for="data">Data</label>
                <input class="form-control" type="datetime-local" name="data" id="data" required>
            </p>
            <p>
                <button class="btn btn-primary" type="submit">Registrar</button>
                <button class="btn btn-warning" type="reset">Limpar</button>
            </p>
        </form>
    </section>

</main>
{% endblock %}

{% block javascript %}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let date = new Date()
            let date_input = document.getElementById('data')
            
            let year = date.getFullYear()
            let month = date.getMonth() + 1
            if (month<10){
                month = `0${month}`
            }
            let day = date.getDate()
            if (day<10) {
                day = `0${day}`
            }
            let hour = date.getHours()
            if (hour<10) {
                hour = `0${hour}`
            }
            let min = date.getMinutes()
            if (min<10) {
                min = `0${min}`
            }
            
            // Adicionar a data e hora atuais ao input
            let fullDay = `${year}-${month}-${day}T${hour}:${min}`
            date_input.value = fullDay
        })
    </script>
{% endblock %}