@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    background-color: #B3C5D7;
}

header.header {
    height: min-content;
    background-color: #22577A;

    padding: 5px 10px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 1px 1px 0.5px rgba(0, 0, 0, 0.442);
}

.navbar {
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    
    max-height: 0;
    overflow-y: hidden;

    transition: max-height .75s ease-in-out;
}

.navbar-title-section {
    padding: 0 1px;
    height: 40px;
}

.navbar-title {
    display: inline-block;
    font-size: 28px;
    margin: 0;
    height: 40px;
    color: white;
    text-shadow: 0 0 1px black;
}

.menu-burguer {
    color: white;
    font-size: 28px;
    height: 100%;
    vertical-align: middle;

    cursor: pointer;
}

.navbar-link{
    display: block;
    color: white;
    text-shadow: 0 0 1px black;
    text-decoration: none;
}

main {
    height: calc(100vh - 50px);
    width: 100%;
    padding: 10px;
}

/* @media screen and (min-width: 1080px) {
    main {
        width: 400px;
    }
} */

.expenses_section, .account-form-section {
    width: 100%;
    height: fit-content;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;

}   

.account-form-section {
    height: 100%;
}

.account-form {
    width: 400px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.47);
    background-color: rgba(255, 255, 255, 0.488);

}

.reset-key {
    float: right;
}

@keyframes progress_icon {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#progress_icon, #email_exists, #true_icon, #false_icon {
    display: none;
}

#email_p {
    position: relative;
}

#true_icon, #false_icon, #progress_icon {
    width: 28px;
    position: absolute;
    right: 5px;
    bottom: 5px;
}

#progress_icon {
    bottom: 8px;
    width: 20px;
    animation: progress_icon 1.1s linear infinite;
}

.expenses_form {
    width: 80%;
    border-radius: 10px;
    padding: 10px;
    background-color: white;
}

.form-control:hover {
    box-shadow: 0 0 1.5px rgba(0, 0, 0, 0.49);
}