<header class="header">
    <section class="navbar-title-section">
        <span class="material-symbols-outlined menu-burguer" id="menu-burguer" onclick="menuBurguer()">
                menu
        </span>
        <span class="navbar-title">Gastos</span>
    </section>
    <nav class="navbar" id="navbar">
            <a class="navbar-link" href="#">ínicio</a>
            <a class="navbar-link" href="#">novo gasto</a>
            <a class="navbar-link" href="#">gastos existentes</a>
            <a class="navbar-link" href="#">sair</a>

            <a class="navbar-link" href="#">entrar</a>
            <a class="navbar-link" href="#">cadastrar-se</a>
    </nav>
</header>